# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PowerShell history
*PSReadline.txt

# PowerShell module analysis cache
PSModuleAnalysisCache/

# User-defined module directory
modules/
